@model string

@{
    ViewData["Title"] = "EstudianteDirTels";
}

<h1>EstudianteDirTels</h1>
<div id="json"></div>
@section Scripts{
    <script>
        jsonViewer.showJSON(@Html.Raw(Model), -1, -1);
    </script>
}