@model string

@{
    ViewData["Title"] = "EstudianteActividades";
}

<h1>EstudianteActividades</h1>
<div id="json"></div>
@section Scripts{ 
<script>
        jsonViewer.showJSON(@Html.Raw(Model), -1, -1);
</script>
}
